<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">/</span></li>
  <li><a href="/items">Items</a><span class="divider">/</span></li>
  <li class="active"><%= item.get('id') %></li>
</ul>

<h1 class="<%= currentUserIsOwner ? 'editable' : '' %>">
  <%= item.get('name') %>
</h1>

<p>
  Creator: <a href="/users/<%= owner.get('id') %>"><%= owner.get('name') %></a>
</p>

<% if(isLiked){ %>
  <button class="btn btn-success unlike"><i class="icon-star icon-white"></i></button>
<% }else{ %>
  <button class="btn"><i class="icon-star"></i></button>
<% } %>

<p>
  <div class="typeahead"></div>
</p>

<h2>Activity</h2>
<div class="activity-stream"></div>

<h2>Admin</h2>
<button class="btn btn-danger destroy"><i class="icon-trash icon-white"></i></button>
