<div class="row">
  <div class="span12">
    <h1 class="<%= isCurrentUser ? 'editable' : '' %>">
      <%= user.get('name') %>
    </h1>
  </div>
</div>

<% if(session){ %>
  <div class="row">
    <div class="span12">
      <% if(like){ %>
        <button class="btn btn-success unlike-button"><i class="icon-star icon-white"></i></button>
      <% }else{ %>
        <button class="btn like-button"><i class="icon-star"></i></button>
      <% } %>
    </div>
  </div>
<% } %>

<% if(session){ %>
  <div class="row">
    <div class="span12">
      <h2>Comment</h2>
      <div class="typeahead"></div>
    </div>
  </div>
<% } %>

<div class="row">
  <div class="span12">
    <h2>Activity</h2>
    <div class="activity-stream"></div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Contributes to</h2>
    <div class="contributor-stream"></div>
  </div>
</div>
