<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">/</span></li>
  <li><a href="/comments">Comments</a><span class="divider">/</span></li>
  <li class="active"><%= comment.get('id') %></li>
</ul>

<% if(comment.get('reply_to_id')){ %>
  <p>
    In reply to: <a href="/comments/<%= comment.get('reply_to_id') %>"><%= comment.get('reply_to_id') %></a>
  </p>
<% } %>

<h1 class="<%= currentUserIsOwner ? 'editable' : '' %>">
  <%= comment.get('text') %>
</h1>

<p>
  Author: <a href="/users/<%= comment.get('owner_id') %>"><%= comment.get('owner_id') %></a>
</p>

<% if(isLiked){ %>
  <button class="btn btn-success unlike"><i class="icon-star icon-white"></i></button>
<% }else{ %>
  <button class="btn like"><i class="icon-star"></i></button>
<% } %>

<p>
  <div class="typeahead"></div>
</p>

<h2>Activity</h2>
<div class="activity-stream"></div>

<h2>&nbsp;</h2>
<button class="btn btn-danger destroy"><i class="icon-trash icon-white"></i></button>
