<div class="row">
  <div class="span12">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="input-email">Email</label>
        <div class="controls">
          <input type="text" id="input-email" name="email" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input-password">Password</label>
        <div class="controls">
          <input type="password" id="input-password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Sign up</button>
        </div>
      </div>
    </form>
  </div>
</div>
