<!doctype html>
<html lang="en">
  <head>
      <title>Item network</title>
      <script type="text/javascript">
      var init = (function(init){
        return init || {};
      })(<%= @init_json %>);
      </script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/css/app.css">
      <script data-main="/js/main" src="/js/require.js"></script>
  </head>
  <body>
    <div class="container" id="container">
      <!-- Bootstrap container & layout attachment point -->
    </div>
  </body>
</html>
