.nav-page a {
  display: block;
}
.nav-page form[name="comment"] .phrase {
  margin-right: 1ex;
}
.nav-page form[name="comment"] input {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  color: #333;
}
.nav-page form[name="comment"] .textarea {
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
