<div class="create-task-page">
  <ul class="breadcrumb">
    <li><a href="/nav">Home</a> <span class="divider">/</span></li>
    <li class="active">Create item</li>
  </ul>

  <form class="form">
    <div class="control-group">
      <div class="controls">
        <input class="span12" type="text" name="name" placeholder="Name">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Create</button>
      </div>
    </div>
  </form>
</div>
