<div class="nav-page">

  <div class="alert alert-success" style="display:none"></div>

  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>

  <h2>Comment</h2>
  <div class="comment-form"></div>

  <h2>Activity</h2>
  <div class="activity-preview">
    <% _.each(activities, function(activity){ %>
      <div class="activity">
        <a href="/users/<%= activity.get('owner_id') %>"><%= activity.get('owner_id') %></a> <%= activity.get('action') %> <a href="/<%= activity.get('table') %>/<%= activity.get('row') %>"><%= activity.get('table') %></a>
      </div>
    <% }) %>
    <a href="/activities">More</a>
  </div>

</div>
