<div class="nav-page">

  <div class="alert alert-success" style="display:none">Comment posted</div>

  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>

  <h2>Comment</h2>
  <form class="form" name="comment">
    <div class="control-group">
      <div class="controls">
        <input class="span12" type="text" name="text" placeholder="Comment">
      </div>
    </div>
  </form>

  <h2>Activity</h2>
  <div class="activity-preview">
    <% _.each(activities, function(activity){ %>
      <div class="activity">
        <a href="/activity/<%= activity.get('id') %>"><%= activity.get('owner_id') %> <%= activity.get('action') %> <%= activity.get('table') %></a>
      </div>
    <% }) %>
    <a href="/activity">More</a>
  </div>

</div>
