<div class="nav-page">

  <div class="alert alert-success" style="display:none">Comment posted</div>

  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>

  Comment
  <form class="form" name="comment">
    <div class="control-group">
      <div class="controls">
        <input class="span12" type="text" name="text" placeholder="Comment">
      </div>
    </div>
  </form>

  <a href="/create">Create item</a>
  <a href="/item">All items</a>
  <a href="/search_form">Search</a>
</div>
