<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">/</span></li>
  <li><a href="/groups">Groups</a><span class="divider">/</span></li>
  <li class="active"><%= group.get('id') %></li>
</ul>

<h1 class="<%= currentUserIsOwner ? 'editable' : '' %>">
  <%= group.get('name') %>
</h1>

<p>
  Created by: <a href="/users/<%= owner.get('id') %>"><%= owner.get('name') %></a>
</p>

<% if(isLiked){ %>
  <button class="btn btn-success unlike"><i class="icon-star icon-white"></i></button>
<% }else{ %>
  <button class="btn"><i class="icon-star"></i></button>
<% } %>

<h2>Comments</h2>
<div class="typeahead"></div>
<div class="comment-stream"></div>

<h2>Members</h2>
<div class="membership-stream"></div>

<h2>&nbsp;</h2>
<button class="btn btn-danger destroy"><i class="icon-trash icon-white"></i></button>
