<ul class="breadcrumb">
  <li><a href="/">Home</a><span class="divider">/</span></li>
  <li><a href="/users">Users</a><span class="divider">/</span></li>
  <li class="active"><%= user.get('id') %></li>
</ul>

<h1 class="<%= isCurrentUser ? 'editable' : '' %>">
  <%= user.get('name') %>
</h1>

<% if(!isCurrentUser){ %>
  <% if(isLiked){ %>
    <button class="btn btn-success unlike"><i class="icon-star icon-white"></i></button>
  <% }else{ %>
    <button class="btn"><i class="icon-star"></i></button>
  <% } %>
<% } %>

<h2>Comments</h2>
<div class="typeahead"></div>
<div class="comment-stream"></div>
<a href="/comments?owner_id=<%= user.get('id') %>">More</a>

<h2>Activities</h2>
<div class="activity-stream"></div>

<h2>Contributes to</h2>
<div class="contributor-stream"></div>
